.aoard {
  display: flex;
  overflow-x: auto;
}

.addList {
  flex-shrink: 0;
  margin: 10px;
  width: 272px;
}

.addListButton {
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 2px 2px #000;
  color: #000;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: fit-content;
  min-height: 32px;
  padding: 5px 8px;
}

.addListButton:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.addListButton ion-icon {
  margin-right: 1px;
  --ionicon-stroke-width: 80px;
}
