.listTitleEdit {
  align-items: center;
  display: flex;
  padding: 5px;
}

.listTitleDelete {
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 23px;
  margin-right: 2px;
  padding: 5px 5px 2px;
}

.listTitleDelete ion-icon {
  color: #000;
}

.listTitleDelete:hover {
  background: rgba(211, 211, 211, 1);
}

.listTitleTextarea {
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin: 6px;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;
}

.ListTitleTextarea:focus {
  box-shadow: inset 0 0 0 2px #000;
}
