.app {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 176, 104);
  height: 100vh;
}

.top {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.heading {
  font-size: 1.4rem;
  margin: 0.9rem 0 0.6rem;
}

.board {
  flex-grow: 1;
}
