.Card {
  background: white;
  border: 2px solid rgba(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
  min-height: 18px;
  overflow-wrap: break-word;
  padding: 10px;
  position: relative;
}

.Card:hover {
  background: #f5f6f7;
}
