.EditButtons {
  display: flex;
}

.EditButton {
  cursor: pointer;
  box-shadow: 0 1px 0 0 #3f6f21;
  width: fit-content;
  margin: 0 5px 10px;
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  outline: none;
}

.EditButton:hover {
  opacity: 0.7;
}

.EditButtonSave {
  background-color: #5aac44;
}

.EditButtonDelete {
  background-color: #ea2525;
  margin-left: 0;
}

.EditButtonCancel {
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  opacity: 0.5;
  outline: none;
}

.EditButtonCancel:hover {
  opacity: 1;
}
