.List {
  background: #dfe3e6;
  border: 2px solid rgba(0, 0, 0);
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0);
  flex-shrink: 0;
  height: fit-content;
  margin: 10px;
  margin-right: 0;
  width: 272px;
}

.Title {
  cursor: pointer;
  font-weight: bold;
  margin: 6px;
  overflow-wrap: break-word;
  padding: 10px;
}

.ToggleAddCard {
  align-items: center;
  border: none;
  border-radius: 0 0 10px 10px;
  color: #6b808c;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

.ToggleAddCard:hover {
  background-color: rgba(9, 45, 66, 0.13);
  color: #000;
}

.ToggleAddCard ion-icon {
  margin-right: 2px;
  --ionicon-stroke-width: 80px;
}
