.ListTitleEdit {
  display: flex;
  align-items: center;
  padding: 5px;
}

.ListTitleDelete {
  cursor: pointer;
  padding: 5px 5px 2px;
  margin-right: 2px;
  font-size: 23px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.ListTitleDelete ion-icon {
  color: #000;
}

.ListTitleDelete:hover {
  background: rgba(211, 211, 211, 1);
}

.ListTitleTextarea {
  width: 100%;
  margin: 6px;
  border-radius: 3px;
  border: none;
  resize: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
}

.ListTitleTextarea:focus {
  box-shadow: inset 0 0 0 2px #000;
}
