.editButtons {
  display: flex;
}

.editButton {
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 1px 1px 0 0 #000;
  color: #000;
  cursor: pointer;
  font-weight: 700;
  margin: 0 5px 10px;
  outline: none;
  padding: 6px 20px;
  width: fit-content;
}

.editButton:hover {
  filter: brightness(90%);
}

.editButtonSave {
  background-color: #5aac44;
}

.editButtonDelete {
  background-color: #ea2525;
  margin-left: 0;
}

.editButtonCancel {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
  opacity: 0.5;
  outline: none;
}

.editButtonCancel ion-icon {
  font-size: 25px;
}

.editButtonCancel:hover {
  opacity: 1;
}
